{% extends "sworks/base.html" %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block style_block %}
    .task_form{
    width: 500px;
    margin: 0 auto;
    }
{% endblock %}

{% block title %}Добавить задание{% endblock %}

{% block sub_content %}
    {% if user.is_staff %}

        <form action="." method="post" class="task_form">
            {% csrf_token %}

            {% bootstrap_field task_form.task_name %}
            {% bootstrap_field task_form.task_type %}
            {% bootstrap_field task_form.work_type %}
            {% bootstrap_field task_form.pub_date %}
            {% bootstrap_field task_form.est5 %}
            {% bootstrap_field task_form.est4 %}
            {% bootstrap_field task_form.est3 %}
            {% bootstrap_field task_form.est2 %}
            {% bootstrap_field task_form.est1 %}
            <div align="center">
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        {% bootstrap_icon "star" %} Добавить
                    </button>
                    <button type="reset" class="btn">
                        Отмена
                    </button>
                {% endbuttons %}
            </div>

        </form>
    {% else %}
        Вам недоступен этот раздел
    {% endif %}
{% endblock %}

