
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<table class="table">
    <tr>
        <th>Фамилия Имся</th>
        <th>Задание</th>
        <th>Ссылка</th>
        <th>Комментарий</th>
        <th>Проверить</th>

    </tr>
    {% for attempt in attempt_list %}
        <tr>
            <td>
                {{ attempt.student.name }}
            </td>
            <td>
                {{ attempt.task.task_name }} <br>
                {{ attempt.task.pub_date }}
            </td>
            <td>
                <a href={{ attempt.link }}  rel="external">Попытка</a>
                <script type="text/javascript">
                    $('a[rel=external]').attr('target', '_blank');
                </script>
            </td>

            <td>
                <div>
                    {{ attempt.comment }}
                </div>
            </td>
            <td>
                <form method="get" action="/attempt/remove/{{ attempt.pk }}">
                    {% csrf_token %}

                    <button type="submit" class="btn btn-primary">
                        Проверена
                    </button>
                </form>
            </td>
        </tr>
    {% endfor %}
</table>
