<head>
    <title>
        Добавить попытку
    </title>
    <style>
        .student-field {
            margin: 0 auto;
        }

        .attempt_form {

            width: 500px;
            margin: 0 auto;
        }
    </style>


</head>

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<H1 align="center">Добавить попытку</H1>

<form method="post" action="addAttempt" class="attempt_form">

    {% csrf_token %}.
    <div class="student-field">
        {% bootstrap_field form.student %}
    </div>
    {% bootstrap_field form.task %}
    {% bootstrap_field form.link %}
    {% bootstrap_field form.comment %}
    <div align="center">
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "star" %} Добавить
            </button>
            <button type="reset" class="btn">
                Отмена
            </button>
        {% endbuttons %}
    </div>

</form>
