{% extends "sworks/base.html" %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block title %}Список попыток{% endblock %}
{% block style_block %}
    .namediv {
    width:13em;
    }
    tasknamediv{
    width:13em;
    }

{% endblock %}
{% block sub_content %}
{% if user.is_staff %}

<table class="table">
    <tr>
        <th>Фамилия Имя</th>
        <th>Задание</th>
        <th>Ссылка</th>
        <th>Комментарий</th>
        <th>Проверить</th>

    </tr>
    {% for attempt,mark in arr %}
        <tr>
            <td class="namediv" >
                {{ attempt.student.user.first_name }}
                {{ attempt.student.user.last_name }}<br>
                ({{ mark.m_value }})
            </td>
            <td class="tasknamediv">
                {{ attempt.task.task_name }} <br>
                {{ attempt.task.pub_date }}
            </td>
            <td>
                <a href={{ attempt.link }}  rel="external">Попытка</a>
                <script type="text/javascript">
                    $('a[rel=external]').attr('target', '_blank');
                </script>

            </td>

            <td>
                <div>
                   <b>{{ attempt.comment.first.author.user.first_name }}: </b>
                        {{ attempt.comment.first.text }}
                </div>
            </td>
            <td>
                <a href="../../attempt/{{ attempt.id }}/" class="btn btn-primary" rel="button">Обсуждение</a>
                <a href="../../attempt/success/{{ attempt.pk }}/" class="btn btn-success" rel="button">Принять</a>
                <a href="../../attempt/drop/{{ attempt.pk }}/" class="btn btn-warning" rel="button">Слить</a>
            </td>
        </tr>
    {% endfor %}
</table>
{% else %}
    Вам недоступен этот раздел
{%  endif %}

{% endblock %}