{% extends "sworks/base.html" %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block title %}Обсуждение попытки{% endblock %}

{% block style_block %}
    .mytable{
        width: 500px;
        margin: 0 auto;
    }


{% endblock %}

{% block content %}
    {% if user.is_authenticated == False %}
        <br><br>
        <H1> Этот раздел Вам недоступен, необходимо войти</H1>
        <br><br>
    {% else %}
        <br><br>
      <a href="../../personal/" class="btn btn-primary btn-lg" rel="button"> << Личный кабинет</a>
    {% endif %}
{% endblock %}

{% block sub_content %}
    {% if user.is_authenticated == False %}
    {% else %}
         <form action="." method="post">
         {% csrf_token %}
            {% bootstrap_field text_form.text %}
            {% buttons %}
                <button type="submit" class="btn btn-primary" {%  if attempt.state == 2 or attempt.state == 3 %} disabled{% endif %}>
                    {% bootstrap_icon "star" %} Отправить
                </button>
            {%  endbuttons %}
        </form>

        <div>
            История сообщений:
        </div>
        <table class="table mytable">
            {% for comment in attempt.comment.all %}
                <tr>
                    <td>

                        {{ comment.datetime }}
                    </td>
                    <td>
                          <b>{{ comment.author.user.first_name }}: </b>
                        {{ comment.text }}
                    </td>
                </tr>
            {% endfor %}
        </table>

        <br>

    {% endif %}
{% endblock %}