{% extends "sworks/base.html" %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block title %}Личный кабинет{% endblock %}

{% block style_block %}
table {
        width: 100%;
    }

thead, tbody, tr, td, th { display: block; }

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 30px;

    /*text-align: left;*/
}

tbody {
    height: 120px;
    overflow-y: auto;
}

thead {
    /* fallback */
}


tbody td, thead th {
    width: 19.2%;
    float: left;
}
{% endblock %}
{% block content %}
    {% if user.is_authenticated == False %}
        <br><br>
        <H1> Этот раздел Вам недоступен, необходимо войти</H1>
        <br><br>
    {% else %}

    {% endif %}
{% endblock %}

{% block sub_content %}
    {% if user.is_authenticated == False %}
    {% else %}
        <table class= "table table-striped table-bordered table-hover table-condensed">
            <thead>
            <tr>
                <td>Фамилия Имя</td>
                {% for task in tasks %}
                    <td>
                        <a href="../../loadAttempt/{{ task.task_name }}/{{ task.task_type.name }}/">{{ task.task_name }}</a>
                    <br>
                    {{ task.pub_date }}
                    </td>
                {% endfor %}

            </tr>
            </thead>
            {% for arr in data %}
                <tr>
                    {% for a in arr %}
                        <td  class="filterable-cell {% if forloop.counter == 1 %} col-md-5 {% endif %}">

                            {% if a.href == "" %}
                                {{ a.text }}
                            {% else %}
                                <a href="{{ a.href }}">{{ a.text }}</a>
                            {% endif %}
                        </td>
                    {% endfor %}

                </tr>
            {% endfor %}

        </table>

    {% endif %}
{% endblock %}