{% extends "sworks/base.html" %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block title %}Личный кабинет{% endblock %}

{% block style_block %}
        body { font:16px Calibri;}
        table { border-collapse:separate; border-top: 3px solid grey; }
        td, th {
            margin:0;
            border:3px solid grey;
            border-top-width:0px;
            white-space:nowrap;
        }
        div {
            width: 600px;
            overflow-x:scroll;
            margin-left:5em;
            overflow-y:visible;
            padding-bottom:1px;
        }
        .headcol {
            position:absolute;
            width:5em;
            left:0;
            top:auto;
            border-right: 0px none black;
            border-top-width:3px; /*only relevant for first row*/
            margin-top:-3px; /*compensate for top border*/
        }
        .long { background:yellow; letter-spacing:1em; }

{% endblock %}
{% block content %}
    {% if user.is_authenticated == False %}
        <br><br>
        <H1> Этот раздел Вам недоступен, необходимо войти</H1>
        <br><br>
    {% else %}

    {% endif %}
{% endblock %}

{% block sub_content %}
    {% if user.is_authenticated == False %}
    {% else %}
        <div class="mydiv">
            <table>
                <thead>
                <tr>
                    <th class="headcol">Фамилия Имя</th>
                    {% for task in tasks %}
                        <th class="long">
                            <a href="../../loadAttempt/{{ task.task_name }}/{{ task.task_type.name }}/">{{ task.task_name }}</a>
                            <br>
                            {{ task.pub_date }}
                        </th>
                    {% endfor %}

                </tr>
                </thead>
                <tbody>
                {% for arr in data %}
                    <tr>
                        {% for a in arr %}
                            <td class="{% if forloop.counter == 1 %}headcol{% else %} long {% endif %}">

                                {% if a.href == "" %}
                                    {{ a.text }}
                                {% else %}
                                    <a href="{{ a.href }}">{{ a.text }}</a>
                                {% endif %}
                            </td>
                        {% endfor %}

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}