{% extends "sworks/base.html" %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block title %}Личный кабинет{% endblock %}

{% block style_block %}
  .table-responsive>.fixed-column {
    position: absolute;
    display: inline-block;
    width: auto;
    border-right: 1px solid #ddd;
}
@media(min-width:768px) {
    .table-responsive>.fixed-column {
        display: none;
    }
}
{% endblock %}
{% block content %}
    {% if user.is_authenticated == False %}
        <br><br>
        <H1> Этот раздел Вам недоступен, необходимо войти</H1>
        <br><br>
    {% else %}

    {% endif %}
{% endblock %}

{% block sub_content %}
    {% if user.is_authenticated == False %}
    {% else %}
        <table class= "table table-striped table-bordered table-hover table-condensed">
            <thead>
            <tr>
                <td>Фамилия Имя</td>
                {% for task in tasks %}
                    <td>
                        <a href="../../loadAttempt/{{ task.task_name }}/{{ task.task_type.name }}/">{{ task.task_name }}</a>
                    <br>
                    {{ task.pub_date }}
                    </td>
                {% endfor %}

            </tr>
            </thead>
            {% for arr in data %}
                <tr>
                    {% for a in arr %}
                        <td >
                            {% if forloop.counter == 1 %} class="col-md-2" {% endif %}
                            {% if a.href == "" %}
                                {{ a.text }}
                            {% else %}
                                <a href="{{ a.href }}">{{ a.text }}</a>
                            {% endif %}
                        </td>
                    {% endfor %}

                </tr>
            {% endfor %}

        </table>

        <script>
        $(function(){
    var $table = $('.table');
    //Make a clone of our table
    var $fixedColumn = $table.clone().insertBefore($table).addClass('fixed-column');

    //Remove everything except for first column
    $fixedColumn.find('th:not(:first-child),td:not(:first-child)').remove();

    //Match the height of the rows to that of the original table's
    $fixedColumn.find('tr').each(function (i, elem) {
        $(this).height($table.find('tr:eq(' + i + ')').height());
    });
});

        </script>
    {% endif %}
{% endblock %}