{% extends "sworks/base.html" %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block title %}Личный кабинет{% endblock %}

{% block content %}
    {% if user.is_authenticated == False %}
        <br><br>
        <H1> Этот раздел Вам недоступен, необходимо войти</H1>
        <br><br>
    {% else %}
        <br><br>
        <p><a class="btn btn-primary btn-lg" role="button" href="..\addAttempt\">Добавить попытку »</a></p>
    {% endif %}
{% endblock %}

{% block sub_content %}
    {% if user.is_authenticated == False %}
    {% else %}
        <br><br>
        <table class="table">
            {% for attempt in attempt_list %}
                <tr>
                    <td>
                        {{ attempt.task.task_name }}<br>
                        {% if  attempt.state == 0 %}
                            <p class="muted">(Попытка не просмотрена)</p>
                        {% else %}
                            {% if  attempt.state == 1 %}
                                <p class="text-info">(Попытка просмотрена)</p>
                            {% else %}
                                {% if  attempt.state == 3 %}
                                    <p class="text-error">(Попытка отклонена)</p>
                                {% else %}
                                    <p class="text-success">(Попытка принята)</p>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        <b>{{ attempt.comment.first.author.user.first_name }}: </b>
                        {{ attempt.comment.first.text }}
                    </td>
                    <td>
                        <a href={{ attempt.link }}  rel="external">Ссылка на попытку</a>
                        <script type="text/javascript">
                            $('a[rel=external]').attr('target', '_blank');
                        </script>
                    </td>
                    <td>
                        <a href="../../attempt/{{ attempt.id }}/" class="btn btn-primary" rel="button">Обсуждение</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}