{% extends "sworks/base.html" %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block title %}Регистрация{% endblock %}

{% block style_block %}
    .register_form {
    width: 500px;
    margin: 0 auto;
    }
{% endblock %}

{% block content %}
    <form method="post" action="." class="register_form">
            {% csrf_token %}
            <br><br>

            {% bootstrap_field form.username %}
            {% bootstrap_field form.password %}
            {% bootstrap_field form.rep_password %}

            {% bootstrap_field form.mail %}
            {% bootstrap_field form.name %}
            {% bootstrap_field form.second_name %}
            {% bootstrap_field form.schooler_class %}
            {% bootstrap_field form.schooler_group %}


            <div align="center">
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        Зарегистрироваться
                    </button>
                    <button type="reset" class="btn">
                        Отмена
                    </button>
                {% endbuttons %}
            </div>
        </form>
{% endblock %}